
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.frame-04-acT {
  width: 100%;
  height: 48rem;
}
.frame-04-acT .page-88B {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.frame-04-acT .page-88B .logo-sbZ {
  width: 34.5rem;
  height: 48rem;
  position: absolute;
  left: 22.8rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  opacity: 0.5;
}
.frame-04-acT .page-88B .greetings {
  position: absolute;
  top: 20%; 
  left: 50%; 
  transform: translateX(-50%); 
  text-align: center;  
  font-size: 3.2rem; 
  color: #0071bd; 
  font-family: Inter, 'Source Sans Pro';

}
.frame-04-acT .page-88B .date-and-time {
  width: 20.7rem;
  height: 2.4rem;
  position: absolute;
  left: 0.5rem;
  top: 0.9rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  color: #0071bd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.buttons {
  position: relative;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  gap: 2rem;
  top: 24rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 12rem; 
  margin: 0; 
}

.button-container img {
  cursor: pointer;
  max-width: 100%; 
  height: auto; 
}

.button-container div {
  margin-top: 0.5rem;
  font-size: 2rem; 
  text-align: center;
  color: #0071bd;
  font-family: Inter, 'Source Sans Pro';
  width: 100%;
}
.frame-04-acT .page-88B .button-logout {
  width: 7rem;
  height: 7rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
 