
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.frame-24-7RM {
  width: 100%;
  height: 48rem;
  overflow: hidden;
  position: relative;

  .frame-48-GZ9 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .page-q6T {
      width: 100%;
      height: 100%;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;

      .logo-apj {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 34.5rem;
        height: 48rem;
        position: absolute;
        left: 22.8rem;
      }
      .pop-window-XEB {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;
        width: 55rem;
        height: 30rem;
        top: 9rem;
        background-color: #efefef;
        position: absolute;
        left: 12.5rem;
        overflow: hidden;
      }
      .bitte-fhren-sie-das-entkalkungsprogramm-durch-RqM {
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        color: #0071bd;
        left: 16.5rem;
        top: 20.8rem;
        display: flex;
        justify-content: center;
        font-size: 3.2rem;
        letter-spacing: 0.1rem;
        width: 47rem;
        position: absolute;
        line-height: 1;
        height: 6.4rem;
        align-items: center;
      }
      .weitere-informationen-finden-sie-in-der-gebrauchsanleitung-4NX {
        height: 5.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-family: Inter, 'Source Sans Pro';
        width: 44.1rem;
        left: 18.05rem;
        top: 33.15rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0071bd;
        position: absolute;
      }
    }
  }
}
