
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.frame-28-Az7 {
  width: 100%;
  height: 48rem;
  overflow: hidden;
  position: relative;

  .page-hj9 {
    position: relative;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 100%;
    height: 100%;

    .logo-QGB {
      position: absolute;
      left: 22.8rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 34.5rem;
      height: 48rem;
    }
    .pop-window-uyd {
      width: 55rem;
      height: 30rem;
      position: absolute;
      top: 9rem;
      background-color: #efefef;
      left: 12.5rem;
      overflow: hidden;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2rem;
    }
    .die-brheinheit-wie-im-abschnitt-reinigung-der-brheinheit-beschrieben-einsetzen-N6X {
      top: 16rem;
      font-size: 3.2rem;
      display: flex;
      justify-content: center;
      width: 47.7rem;
      position: absolute;
      left: 16.15rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      height: 16rem;
      align-items: center;
      line-height: 1;
      letter-spacing: 0.1rem;
      color: #0071bd;
    }
    .weitere-informationen-finden-sie-in-der-gebrauchsanleitung-k75 {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      left: 17.95rem;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 400;
      display: flex;
      justify-content: center;
      color: #0071bd;
      width: 44.1rem;
      height: 5.9rem;
      position: absolute;
      top: 33.15rem;
    }
  }
}
