
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.frame-05-t1Z {
  width: 100%;
  height: 48rem;
  overflow: hidden;
  position: relative;

  .page-27m {
    position: relative;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 100%;
    height: 100%;

    .logo-NhR {
      left: 22.8rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 34.5rem;
      height: 48rem;
      position: absolute;
    }
    .pop-window-uhM {
      position: absolute;
      top: 9rem;
      overflow: hidden;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #efefef;
      width: 55rem;
      height: 30rem;
      left: 12.5rem;
      border-radius: 2rem;
    }
    .kaffee-kommt-b4P {
      line-height: 1;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3.2rem;
      font-weight: 400;
      white-space: nowrap;
      left: 27.4rem;
      top: 22.8rem;
      justify-content: center;
      display: flex;
      letter-spacing: 0.1rem;
      width: 25.3rem;
      height: 3.2rem;
      position: absolute;
      align-items: center;
      color: #0071bd;
    }
  }
}
