
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.frame-18-q4w {
  height: 48rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .page-aHR {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;

    .logo-jRD {
      left: 22.8rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 34.5rem;
      height: 48rem;
      position: absolute;
    }
    .pop-window-GR9 {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 30rem;
      left: 12.5rem;
      overflow: hidden;
      background-color: #efefef;
      border-radius: 2rem;
      width: 55rem;
      position: absolute;
      top: 9rem;
    }
    .bitte-wiederholen-sie-die-kaffeeausgabe-MxP {
      font-family: Inter, 'Source Sans Pro';
      font-size: 3.2rem;
      height: 6.4rem;
      left: 19.95rem;
      align-items: center;
      font-weight: 400;
      color: #0071bd;
      width: 40.1rem;
      top: 20.8rem;
      display: flex;
      justify-content: center;
      line-height: 1;
      letter-spacing: 0.1rem;
      position: absolute;
    }
  }
}
