
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.frame-04-acT {
  width: 100%;
  height: 48rem;

  .page-88B {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;

    .logo-sbZ {
      height: 48rem;
      position: absolute;
      left: 22.8rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 34.5rem;
    }
    .hallo-hussein-idris-sie-haben-noch-1000-auf-ihrem-konto-1hm {
      line-height: 1;
      width: 64.1rem;
      left: 9.75rem;
      top: 6.2rem;
      font-size: 3.2rem;
      position: absolute;
      display: flex;
      justify-content: center;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      height: 6.4rem;
      align-items: center;
      letter-spacing: 0.1rem;
      color: #0071bd;
    }
    .item-07-00-01012024-qwh {
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1;
      color: #0071bd;
      height: 2.4rem;
      position: absolute;
      left: 0.5rem;
      font-family: Inter, 'Source Sans Pro';
      width: 20.7rem;
      top: 0.9rem;
      white-space: nowrap;
    }
    .button-uRm {
      height: 11.4rem;
      position: absolute;
      overflow: hidden;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      left: 63.3rem;
      align-items: center;
      box-sizing: border-box;
      width: 11.4rem;
      display: flex;
      border: solid 0.4rem #0071bd;
      background-color: #ffffff;
      padding: 2.875rem 1.483rem 2.775rem 1.867rem;
      top: 24rem;

      .material-symbols-coffee-sharp-hsR {
        margin: 2.3rem 1.15rem 0rem 0rem;
        width: 3.45rem;
        height: 3.45rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .material-symbols-coffee-sharp-NTm {
        flex-shrink: 0;
        margin-bottom: 2.3rem;
        width: 3.45rem;
        height: 3.45rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .button-KXR {
      height: 11.4rem;
      position: absolute;
      left: 5.3rem;
      top: 24rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 11.4rem;
    }
    .button-pDH {
      height: 11.4rem;
      left: 48.8rem;
      top: 24rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 1rem;
      padding: 1.531rem 0.277rem 1.569rem 0.323rem;
      position: absolute;
      align-items: center;
      box-sizing: border-box;
      width: 11.4rem;
      overflow: hidden;
      display: flex;
      border: solid 0.4rem #0071bd;

      .cup-coffee-VKR {
        width: 5.4rem;
        height: 4.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 4.1rem;
      }
      .cup-coffee-cQ3 {
        margin-bottom: 4.1rem;
        width: 5.4rem;
        height: 4.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .button-fdD {
      vertical-align: top;
      border-radius: 1rem;
      width: 11.4rem;
      height: 11.4rem;
      position: absolute;
      left: 34.3rem;
      top: 24rem;
      object-fit: contain;
    }
    .button-AZy {
      width: 11.4rem;
      height: 11.4rem;
      position: absolute;
      left: 19.8rem;
      top: 24rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
    }
    .kaffee-UKm {
      font-weight: 400;
      height: 3rem;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      color: #0071bd;
      display: flex;
      line-height: 1.2125;
      white-space: nowrap;
      width: 7.4rem;
      left: 7.45rem;
      justify-content: center;
      top: 37.5rem;
      align-items: center;
    }
    .espresso-9Ru {
      font-size: 2.4rem;
      height: 3rem;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #0071bd;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.4rem;
      display: flex;
      top: 37.5rem;
      position: absolute;
      left: 20.35rem;
    }
    .dampf-2kb {
      top: 37.5rem;
      height: 3rem;
      position: absolute;
      align-items: center;
      justify-content: center;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      font-weight: 400;
      line-height: 1.2125;
      color: #0071bd;
      white-space: nowrap;
      width: 7.5rem;
      left: 36.3rem;
      font-size: 2.4rem;
    }
    .x-kaffee-HgX {
      color: #0071bd;
      width: 7.4rem;
      position: absolute;
      left: 50.85rem;
      top: 36.05rem;
      display: flex;
      justify-content: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 5.9rem;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .x-espresso-aQj {
      left: 64.65rem;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #0071bd;
      font-family: Inter, 'Source Sans Pro';
      width: 10.4rem;
      height: 5.9rem;
      position: absolute;
      top: 36.05rem;
      display: flex;
      justify-content: center;
    }
  }
}
