<!DOCTYPE html>
<html>
<head>
    <title>Kaffeemaschine Steuerung</title>
</head>
<body>
    <h1>Kaffeemaschine Steuerung</h1>
    <ul>
        <li>
            <form action="/toggle/1" method="post">
                <span>Kaffeemaschine An/Aus</span>
                <button type="submit" name="state" value="1">An/Aus</button>
            </form>
        </li>
        <li>
            <form action="/toggle/2" method="post">
                <span>1 Tasse Espresso</span>
                <button type="submit" name="state" value="1">An/Aus</button>
            </form>
        </li>
        <li>
            <form action="/toggle/3" method="post">
                <span>2 Tassen Espresso</span>
                <button type="submit" name="state" value="1">An/Aus</button>
            </form>
        </li>
        <li>
            <form action="/toggle/4" method="post">
                <span>Spülgang</span>
                <button type="submit" name="state" value="1">An/Aus</button>
            </form>
        </li>
        <li>
            <form action="/toggle/5" method="post">
                <span>Dampfausgabe</span>
                <button type="submit" name="state" value="1">An/Aus</button>
            </form>
        </li>
        <li>
            <form action="/toggle/6" method="post">
                <span>1 große Tasse Kaffee</span>
                <button type="submit" name="state" value="1">An/Aus</button>
            </form>
        </li>
        <li>
            <form action="/toggle/7" method="post">
                <span>2 große Tassen Kaffee</span>
                <button type="submit" name="state" value="1">An/Aus</button>
            </form>
        </li>
    </ul>
</body>
</html>
